body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
}
h2{
    font-family:'Montserrat', sans-serif;
    font-weight:600;
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
}

/* Navgigation bar */

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;;
}

.navbar{
    padding: 8px 0;
    margin-bottom: 4rem;;

}
.nav-item{
    padding: 0 1rem;
}
.nav-link{
    font-size: 1.3rem;;
}

/* Download button */

.button-download{
    margin-right: 2rem;
    margin-top: 3rem;
}

/* Title */

.title-image{
    width: 60%;
    transform:rotate(25deg);
    position: absolute;
    bottom: -300px;
}



/* <!-- Features --> */

#features{
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 5% 0;
}

.icons{
    color: #ef8172;
    font-size: 4rem;
    padding-bottom: 5px;;
}
.icons:hover{
    color: #ff4c68;
}

h3{
    font-weight: bold;
    font-family:'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

p{
    color: #8f8f8f;
    margin-top: 1rem;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}
#testimonials img{
    border-radius: 50%;
    width: 10%;
}

#press{
background-color: #ef8172;
text-align: center;
padding-bottom: 3rem;
}
.press-icons{
    width: 15%;
    padding: 1rem;
}
.carousel-item{
    padding: 7% 13%;
}
.adjust{
    margin: 0 10%;
}

#pricing{
    text-align: center;
}
.adjust-font{
    line-height: 2.5;
}

#cta{
    padding: 5% 30%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}
#footer{
    background-color: #fff;
    padding: 2% 30% 1% 30%;
    text-align: center;
}
.f_icon{
    color: rgb(48, 43, 43);
    margin-top: 1rem;
    margin-right: 10px;
}
h3{
    font-size: 2rem;
}



@media screen and (max-width:600px) {
    #title{
        padding-bottom: 0;
        height: 1030px;
    }
    .title-image{
        position: relative;
        width: 70%;
        top: 2.5rem;
        transform: none;
        right: 3rem;
    }
    .container-fluid{
        padding-bottom: 0;
    }
    #features{
        background-color: #fff;
        padding: 0;
       
    }
    h1{
        font-size: 3rem;
        text-align: center;
    }
    .button-download{
        margin-left: 50px;

    }
    .btn-outline-light{
        margin-top: 10px;
    }
    h2{
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .press-icons{
        width: 40%;
    }
    #pricing{
       margin: 0 5%;
    }
    .container-fluid{
        padding-bottom: 50px;
    }
    .adjust{
        margin: 0;
    }
    .col-lg-4{
        padding-bottom: 1rem;
    }
    .btn-dark{
        margin-bottom: 5px;
     }
     h3{
        font-size: 1.5rem;
    }
    #footer{
        padding: 0 5%;
    }
}
@media screen and (max-width:800px){
    .title-image{
        width: 50%;
        top: 2.5rem;
        transform: none;
        margin-left: 100px;
    }
    #title{
        padding-bottom: 50%;
    }
    .button-download{
        margin-left: 50px;

    }
    .testimonial-text{
        font-size: 1.5rem;
    }
    .adjust-font{
        padding: 2% 5%;
        line-height: 1;
    }

    #cta{
        padding: 2% 10%;
    }
    .f_icon{
        font-size: 1.5rem;
        margin-right: 30px;
    }
}